extends ./common/sidebar
block head
    link(rel="stylesheet", href="#{root_path}/static/css/lib/bootstrap/bootstrap-table.css")
    link(rel="stylesheet" href="#{root_path}/static/css/admin/wangEditor.min.css")

    script(type="text/javascript", src="#{root_path}/static/js/lib/bootstrap/bootstrap-table.js")
    script(type="text/javascript", src="#{root_path}/static/js/lib/bootstrap/bootstrap-table-zh-CN.js")
    script(type="text/javascript", src="#{root_path}/static/js/lib/bootstrap/bootstrap-table-toolbar.js")
    script(type="text/javascript" src="#{root_path}/static/js/lib/wangEditor.js")

block main
    .table_box(act_id = act.act_id)
        .ex_title.row
            .col-xs-4
                ol.breadcrumb
                    li: a(href="./exhibition")="展览列表"
                    li.active="展览信息"
            .col-xs-8.text-right
                .btn.btn-success.publish="修改"
                a.btn.btn-default.back(href="javascript:history.go(-1)")="退出"
        h3="基本信息"
        .row.margin-top
            .col-md-6
                ul.list-group
                    li.list-group-item
                        .input-group
                            span.input-group-addon="展览名称"
                            input.form-control.act_name(type="text" value=act.name)
                    li.list-group-item
                        .input-group
                            span.input-group-addon="展览时间"
                            - var date = new Date(act.start_day*1000);
                            - var y = date.getFullYear();
                            - var m = date.getMonth()+1;
                            - m = m < 10 ? ('0' + m) : m
                            - var d = date.getDate();
                            - d = d < 10 ? ('0' + d) : d;
                            - var h = date.getHours();
                            - var minute = date.getMinutes();
                            - minute = minute < 10 ? ('0' + minute) : minute;
                            - var time = y+ "-" + m+"-"+d+" "+h+":"+minute;
                                input.form-control.start_day(type="text" value=time)
                            span.input-group-addon="-"
                            - var date = new Date(act.end_day*1000);
                            - var y = date.getFullYear();
                            - var m = date.getMonth()+1;
                            - m = m < 10 ? ('0' + m) : m
                            - var d = date.getDate();
                            - d = d < 10 ? ('0' + d) : d;
                            - var h = date.getHours();
                            - var minute = date.getMinutes();
                            - minute = minute < 10 ? ('0' + minute) : minute;
                            - var time = y+ "-" + m+"-"+d+" "+h+":"+minute;
                                input.form-control.end_day(type="text" value=time)
                    li.list-group-item
                        .input-group
                            span.input-group-addon="场馆名称"
                            input.form-control.area_name(type="text" value=act.area_name)
                    li.list-group-item
                        .input-group
                            span.input-group-addon="场馆地址"
                            input.form-control.addr_name(type="text" value=act.addr_name)
                    li.list-group-item
                        .input-group
                            span.input-group-addon="地址经度"
                            input.form-control.addr_lo(type="text" placeholder="经度" value=act.addr_lo)
                            span.input-group-addon="地址纬度"
                            input.form-control.addr_la(type="text" placeholder="纬度" value=act.addr_la)
                    li.list-group-item
                        .input-group
                            span.input-group-addon="发起艺术家"
                            input.form-control.sponsor_name(type="text" value=act.sponsor_name)
            .col-md-6
                .row
                    .col-md-6
                        .thumbnail
                            .add_img
                                img.ex_img(src=act.act_picture)
                            .caption.text-center
                                span="展览图片"
                                .btn.btn-primary.margin-1l.relative="修改图片"
                                    form.uploadimg(enctype="multipart/form-data" style="position:absolute;top:0;left:0;opacity:0;width:100%; height:100%; z-index:99;")
                                        input.filechooser.edit_img(type="file" name="exhibition_img" capture="camera" accept="image/*" style="position:absolute;top:0;left:0;height:100%; width:100%;")
                    .col-md-6
                        .thumbnail
                            .add_img
                                img.act_img(src=act.area_picture)
                            .caption.text-center
                                span="场馆图片"
                                .btn.btn-primary.margin-1l.relative="修改图片"
                                    form.uploadimg(enctype="multipart/form-data" style="position:absolute;top:0;left:0;opacity:0;width:100%; height:100%; z-index:99;")
                                        input.filechooser.edit_img(type="file" name="act_img" capture="camera" accept="image/*" style="position:absolute;top:0;left:0;height:100%; width:100%;")
        .row
            .col-xs-4
                h3="参与大咖"
            .col-xs-8.text-right
                a.btn.btn-success.add_prop(data-target='#myModal' data-toggle='modal')="添加"
                .btn.btn-danger.delete="删除"
        table.table.table-bordered.table-hover.margin-top
            thead.art_join
                tr
                    td
                        input.checkall(type="checkbox")
                    td="参与大咖名"
                    td="简介"
                    td="操作"
            tbody.body_id
                each artist in act.artists
                    tr
                        td.artist_id(artist_id=artist.artist_id)
                            input.check(type="checkbox")
                        td=artist.name
                        td=artist.intro
                        td
                            a.btn.btn-xs.btn-default(href="./editart?artist_id=#{artist.artist_id}")="编辑"
                                .glyphicon.glyphicon-list-alt

        h3="主要作品"
        p.input_wrap.margin-top
            span.work_sort="修改作品照片"
        .work_pics_add
            .editart_img.relative
                i.iconfont.icon-zhaoxiangji
                    form.uploadimg(enctype="multipart/form-data" style="position:absolute;top:0;left:0;opacity:0;width:100%; height:100%; z-index:99;")
                        input.filechooser.work_img(type="file" name="work_photos" capture="camera" accept="image/*" style="position:absolute;top:0;left:0;height:100%; width:100%;")
        .work_pics
            each work in act.works
                .pic_wrap.relative
                    .add_btn
                        img(src=work.picture)
                    span.issue_cancel.icon.iconfont.icon-reduce
                    .input-group
                        span.input-group-addon="作品名"
                        input.form-control.w_name(type="text" value=work.name)
        h3.margin-top="展览详情"
        .textarea_article
            #editor(style="height:400px;max-height:500px;")

    #myModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                            | &times;
                    h4.modal-title="请选择参与大咖，如果没有请选择新增按钮"
                .modal-body
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                td
                                    input.checkall(type="checkbox")
                                td="参与大咖名"
                                td="简介"
                                td="操作"
                        tbody
                            each artist in artists
                                tr.art_tr
                                    td.artist_id(artist_id = artist.artist_id)
                                        input(type="checkbox")
                                    td=artist.name
                                    td=artist.intro
                                    td
                                        a.btn.btn-xs.btn-default(href="./editart?artist_id=#{artist.artist_id}")="编辑"
                                            .glyphicon.glyphicon-list-alt

                .modal-footer
                    button.btn.btn-success.append(data-dismiss="modal")="添加"
                    a.btn.btn-primary.add(href="./addart")="新增"
                    button.btn.btn-default(data-dismiss="modal")="取消"
block footer
    script(type="text/javascript").
        //初始化
        var ex_name;//展览名称
        var start_day;//开始时间戳
        var end_day;//结束时间戳
        var area_name;//场馆名称
        var addr_name;//场馆地址
        var addr_lo;//地址经度
        var addr_la;//地址纬度
        var sponsor_name;//发起艺术家
        var act_picture;//展览配图url
        var area_picture;//场地配图url
        var detail;//展览详情
        var artist_ids = [];//参与大咖id列表
        var works = [];//主要作品列表

        var editor = new wangEditor('editor');
        editor.create();
        var data = !{JSON.stringify(act)};
        editor.$txt.html(data.detail);
        //选择全部参与大咖
        $(".checkall").on("click",function () {
            if($(this).prop("checked")){
                $("input[type='checkbox']").prop("checked",true);
            } else {
                $("input[type='checkbox']").prop("checked",false);
            }
        });

        //上传图片
        $(".edit_img").on("change",function () {
            var files = this.files;
            var file = files[0];
            var _this = this;
            console.log(file);
            // 接受 jpeg, jpg, png 类型的图片
            if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) return;
            doUpload(this);
            var reader = new FileReader();
            reader.onload = function () {
                avatar = this.result;
                $(_this).parents(".thumbnail").find("img").attr("src",avatar);
            };
            reader.readAsDataURL(file);
        });

        function doUpload(self) {
            var parent = $(self)[0].parentNode;
            var formData = new FormData($(parent)[0]);
            $.ajax({
                url: './editex/upload',
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res.data);
                    $(self).parents(".thumbnail").find("img").attr("src",res.data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        //删除作品照片
        $('.issue_cancel').on('click',function () {
            $(this).parents('.pic_wrap').remove();
        });

        var item;
        //上传主要作品图片
        $(".work_img").on('change', function () {
            var files = this.files;
            var file = files[0];
            var _this = this;
            console.log(file);
            // 接受 jpeg, jpg, png 类型的图片
            if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) return;
            Upload(this);
            var reader = new FileReader();
            reader.onload = function () {
                avatar = this.result;
                var html = "<div class='pic_wrap relative'>\
                                <div class='add_btn'>\
                                    <img src=" + avatar + ">\
                                </div> \
                                <span class='issue_cancel icon iconfont icon-reduce'></span>\
                                <div class='input-group'>\
                                    <span class='input-group-addon'>作品名</span>\
                                    <input class='form-control w_name' type='text'>\
                                </div> \
                            </div>";
                item = $(html);
                // 绑定删除行为
                item.find("span").click(deleteImg);
                $(item).appendTo(".work_pics");
            };
            reader.readAsDataURL(file);

        });
        function Upload(self) {
            var parent = $(self)[0].parentNode;
            var formData = new FormData($(parent)[0]);
            $.ajax({
                url: "./editex/upload",
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res);
                    //返回图片url
                    if (res.errno !== 0) {
                        console.log('上传文件出错');
                        return
                    }
                    $(item).find("img").attr("src", res.data);

                },
                error: function (err) {
                    console.log(err);
                    $.alert('图片上传失败');
                }
            });
        }

        function deleteImg() {
            $(this).parents('.pic_wrap').remove();
        }

        //选择全部参与大咖
        $(".checkall").on("click", function () {
            if ($(this).prop("checked")) {
                $("#myModal input[type='checkbox']").prop("checked", true);
            } else {
                $("#myModal input[type='checkbox']").prop("checked", false);
            }
        });

        //添加大咖是否存在
        var ids = [];
        $('.body_id .artist_id').each(function (index, element) {
            var id = $(this).attr('artist_id');
            if($.inArray(id,ids) == -1){
                ids.push(id);
            }
            return ids;
        });
        $('.add_prop').on('click',function () {
            $('#myModal .artist_id').each(function (index, element) {
                var value = $(this).attr('artist_id');
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i] == value) {
                        $(this).children('input').prop("checked", true).attr("disabled",true);
                    }
                }
            });
        });

        //添加大咖
        $(".append").on("click", function () {
            var strs = [];
            $("#myModal .artist_id input[type='checkbox']").each(function () {
                if ($(this).prop("checked") && !$(this).attr("disabled") == true) {
                    var str = $(this).parents("tr").clone();
                    strs.push(str);
                }
            });
            $(".body_id").append(strs)
        });

        //删除参与大咖
        $('.delete').on('click',function () {
           $('.body_id .artist_id input[type="checkbox"]').each(function (index, element) {
               if($(this).prop("checked")){
                   $(this).parents('tr').remove();
               }
           })
        });

        //修改展览
        $(".publish").on("click", function () {
            var act_id = $('.table_box').attr("act_id");
            ex_name = $('.act_name').val();
            start_day = new Date($('.start_day').val()).getTime() / 1000;
            end_day = new Date($('.end_day').val()).getTime() / 1000;
            area_name = $('.area_name').val();
            addr_name = $('.addr_name').val();
            addr_lo = $('.addr_lo').val();
            addr_la = $('.addr_la').val();
            sponsor_name = $('.sponsor_name').val();
            act_picture = $('.ex_img').attr("src");
            area_picture = $('.act_img').attr("src");
            detail = editor.$txt.html();
            $('.pic_wrap').each(function (index, element) {
                var url = $(this).find('img').attr("src");
                var w_name = $(this).find('.w_name').val();
                console.log(url, w_name);
                if($.inArray({'picture':url, 'name': w_name},works) == -1){
                    works.push({'picture': url, 'name': w_name});
                }
                return works;
            });
            works = JSON.stringify(works);
            console.log(works);
            $('.body_id .artist_id').each(function (index, element) {
                var artist_id = $(this).attr("artist_id");
                if($.inArray(artist_id,artist_ids) == -1){
                    artist_ids.push(artist_id);
                }
                return artist_ids;
            });
            artist_ids = JSON.stringify(artist_ids);
            console.log(artist_ids);
            //console.log(JSON.stringify(artist_ids));
            var data = {
                "act_id": act_id,
                "ex_name": ex_name,
                "start_day": start_day,
                "end_day": end_day,
                "area_name": area_name,
                "addr_name": addr_name,
                "addr_lo": addr_lo,
                "addr_la": addr_la,
                "sponsor_name": sponsor_name,
                "act_picture": act_picture,
                "area_picture": area_picture,
                "detail": detail,
                "works": works,
                "artist_ids": artist_ids
            };
            console.log(data);
            $.ajax({
                url: './editex/edit',
                type: 'POST',
                data: data,
                success: function (res) {
                    if (res.errno == 0) {
                        alert('修改成功');
                        window.location.reload()
                    } else {
                        alert('修改失败', res);
                    }
                },
                error: function (res) {
                    alert('修改失败', res);
                }
            })

        });




