//
   Created by liwei on 2017/1/11.
extends layout
block head
    script(type="text/javascript", src="#{root_path}/static/js/admin.js")

block content
    div.C_wrap
        div.header
            h1="观照自然"
        div.container
            .fx_left
                .fx_block
                    ul.fx_list
                        li.list_nav
                            a(href="#{root_path}/admin/index")="首页"
                            .hide_item
                                ul.home_nav
                                    li
                                        a(href="#{root_path}/admin/index/online")="在线人数"
                                    li
                                        a(href="#{root_path}/admin/index/extant")="留存查询"
                                    li
                                        a(href="#{root_path}/admin/index/import")="导出数据"
                        li.list_nav.active
                            a(href="#{root_path}/admin/operation")="系统操作"
                            .hide_item
                                ul.home_nav
                                    li
                                        a(href="#{root_path}/admin/operation/swipe")="轮播管理"
                                    li
                                        a(href="#{root_path}/admin/operation/user")="用户管理"
                                    li
                                        a(href="#{root_path}/admin/operation/publish")="发布信息"
                                    li
                                        a(href="#{root_path}/admin/operation/work")="作品管理"
                        //li.list_nav
                            a(href="#{root_path}/admin/account")="账号管理"
                        li.list_nav
                            a(href="#{root_path}/admin/notice")="消息管理"
            .fx_right

block footer
    script(type="text/javascript").
        //用户管理-获取用户列表
        $(function () {

        });
