extends layout

block head
    link(rel="stylesheet", href="#{root_path}/static/css/mobile/home.css")
    script(type="text/javascript", src="#{root_path}/static/js/common.js")

block content
    header.bar.bar-nav
        div.clearfix
            h1.title="每日精选"
        .top_h
        .buttons-tab.buttons-fixed.posi_nav.posi_nav1
            a.tab-link.active.button(href="#tab1")="作品"
            a.tab-link.button(href="#tab2")="文章"
    div.content.find
        .Top_h
        div.tabs
            div#tab1.tab.active
             each work in works
              a(href="./work?work_id=#{work.work_id}")
                .card.no-margin-d.padding-tb.row
                    .card-header.color-white.no-border.no-padding.col-33(valign="bottom" style="height:5.333rem")
                        img.card-cover.card_cover.card_cover_s(src=work.picture height="5.333rem")
                    .card-content.col-66
                        .card-content-inner.card_home
                            .work_name=work.name
                            p.color-gray="作者："+work.author.name
                            p.color-gray=work.size+"/"+work.create_time+"年"
                            p.daily_is_sale
                                if(work.is_sale == 0)
                                    span.isSale="非卖品"
                                else if(work.is_sale == 1)
                                    span.isSale="可售：￥"+work.price
                                else if(work.is_sale == 1)
                                    span.isSale="已经售出"
            div#tab2.tab
                each article in articles
                    a(href="./article?article_id=#{article.article_id}")
                        .card.no-margin-d.padding-tb.row
                            .card-header.color-white.no-border.no-padding.col-33(valign="bottom" style="height:110px")
                                img.card-cover.card_cover.card_cover_s(src=article.author.avatar height="110px")
                            .card-content.col-66
                                .card-content-inner=article.name

